{% extends 'base.html.twig' %}

{% block title %}Symfony 8 - GraphQL{% endblock %}

{% block body %}
<style>
    .graphql-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .graphql-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="graphql-wrapper">

</div>
{% endblock %}
